{% extends "base.html" %}
{% load app_filters %}

{% block content %}

<div class="container stripe">
  <div class="site-heading">
    <h1 class="site-heading__heading">
      World's best blog platform, no jokes
    </h1>
  </div>
</div>


{% for publication in publications %}

<div class="publication">
  <h2 class="publication__title">
    {{ publication.content.title }}
  </h2>
  <div class="publication__info">
    {{ publication.effective_pub_date }} by {{ publication.author }}
  </div>
  <div class="publication__text">
    {{ publication.content.post|markdownyfy }}
  </div>
</div>

{% endfor %}

{% endblock %}
