{% extends "base.html" %}

{% block content %}

<div class="container stripe">
  <div class="site-heading">
    <h1 class="site-heading__heading">
      New post
    </h1>
  </div>
</div>

<div class="stripe container">
  <div class="update-form">
    <form method="post" action="{% url 'update' %}">
      {% csrf_token %}
      <div class="update-form__group">
        <input name="title" style="width: 100%;" placeholder="Title goes there" />
      </div>
      <div class="update-form__group">
        <textarea name="post" rows="20" style="width: 100%"
          placeholder="Text goes there"></textarea>
      </div>
      <div class="update-form__group">
        <input type="submit" value="Press me" />
      </div>
    </form>
  </div>
</div>

{% endblock %}

